# Скомпилированные файлы
*.class
*.jar
*.war
*.ear

# Папки сборки (Gradle)
.gradle/
build/

# Настройки IDE (IntelliJ, VS Code, Eclipse)
.idea/
*.iml
.project
.settings/
.classpath
.vscode/

# Логи и временные файлы
*.log
bin/
out/

# Системные файлы
.DS_Store
Thumbs.db
